<div class="sub-header">
  <div class="sub-header-container">
    <div class="translate-container-top">
      <div id="google_translate_element"></div>
    </div>
  </div>
</div>

<header class="header">
  <div class="header-container">
    <div class="logo-container" routerLink="/">
      <img srcset="assets/ADAPTIX_main_logo.png 2x,
             assets/ADAPTIX_main_logo.png 1x"
     src="assets/ADAPTIX_main_logo.png"
        alt="Neomat Logo"
        class="logo">
    </div>

    <nav class="nav-desktop">
      <ul class="nav-links">
        <li><a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleMenu()">Home</a></li>
        <li><a routerLink="/about-us" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">About</a></li>
        <li><a routerLink="/process" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">Process</a></li>
        <li><a routerLink="/quality" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">Quality</a></li>
        <li class="has-dropdown">
          <a href="#" class="nav-link" [class.active]="isRouteActive('/products')" routerLink="/products" (click)="toggleMenu()">Our Products</a>
          <div class="mega-menu">
            <div class="mega-menu-content">
              <ul class="main-categories">
                <li class="category-item" *ngFor="let category of productCategories">
                  <a href="#"
                     class="category-link"
                     (click)="navigateToCategory(category, $event)"
                     [class.active]="category.isActive">
                    {{ category.name }}
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <div class="sub-menu" [class.active]="category.isActive">
                    <ul class="sub-categories">
                      <li *ngFor="let subItem of category.subItems">
                        <a href="#" (click)="toggleSubMenu(category, $event, subItem)">{{ subItem }}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a routerLink="/industries" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">Industries</a></li>
        <li><a routerLink="/catalogue" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">Catalogue</a></li>
        <li><a routerLink="/contact-us" [routerLinkActive]="'active'" class="nav-link" (click)="toggleMenu()">Contact</a></li>
      </ul>
    </nav>

    <button class="menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
