<div class="sub-header">
  <div class="sub-header-container">
    <div class="translate-container-top">
      <div id="google_translate_element"></div>
    </div>
  </div>
</div>

<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/ADAPTIX.png" alt="Neomat Logo" class="logo">
    </div>

    <nav class="nav-desktop">
      <ul class="nav-links">
        <li><a href="#" class="nav-link active">Home</a></li>
        <li class="has-dropdown">
          <a href="#" class="nav-link">Our Products</a>
          <div class="mega-menu">
            <div class="mega-menu-content">
              <ul class="main-categories">
                <li class="category-item" *ngFor="let category of productCategories">
                  <a href="#"
                     class="category-link"
                     (click)="toggleSubMenu(category, $event)"
                     [class.active]="category.isActive">
                    {{ category.name }}
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <div class="sub-menu" [class.active]="category.isActive">
                    <ul class="sub-categories">
                      <li *ngFor="let subItem of category.subItems">
                        <a href="#">{{ subItem }}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="#" class="nav-link">Industries</a></li>
        <li><a href="#" class="nav-link">Portfolio</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </nav>

    <button class="menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
